
.container{
    display: flex;
    flex-direction: row;

}

.RenderingPar{

    order: 1;
    width: 315px;
    border-style: solid;
    border-color: red;
}

.transferUI{

order: 2;
width: 315px;
border-style: solid;
border-color: blue;

}